.body{
    background-color: rgb(187, 175, 175);
}
.nav-img{
    width: 100px;
}
#meal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-left:50px;
}
.meal-div{
    margin-bottom: 20px;
    width: 250px;
    border: none;
    border-radius: 10px;
}
.meal-div img{
    width: 100%;
}
.meal-name{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 10px;
}
#meal-details{
    width: 300px;
    background-color: rgb(1, 1, 36);
    color: rgba(255, 255, 255, 0.63);
    padding: 30px;
    display: none;
}
#meal-details img{
    width: 100%;
    background-color: rgb(1, 1, 20);
    margin-bottom: 10px;
    border-radius: 10px;
}